<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RolServ</servlet-name>
        <servlet-class>Control.RolServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RutaServ</servlet-name>
        <servlet-class>Control.RutaServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServ</servlet-name>
        <servlet-class>Control.UsuarioServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpresaServ</servlet-name>
        <servlet-class>Control.EmpresaServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RolServ</servlet-name>
        <url-pattern>/rols.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RutaServ</servlet-name>
        <url-pattern>/rutas.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServ</servlet-name>
        <url-pattern>/usuarios.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpresaServ</servlet-name>
        <url-pattern>/empresa.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
